.container {
  display: flex;
  flex-direction: column;
}

.card {
  width: 50vw;
  height: 50vh;
  display: flex;
}

.card__banner{
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__form{
  width: 25vw;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagem{
  height: 60%;
  background-image: url(./img/login.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.login{
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
}

button{
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  width: 25vw;
  margin-bottom: 1em;
}

p{
  text-align: left;
}

h2{
  text-align: center;
}

.card__form h2{
  text-align: left;
}

.formfield__senha{
  height: 10vh;
}

.btn__senha{
  width: 5px;
}

.btn__submit{
  margin-top: .8em;
}


/*Sticky footer*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

@media only screen and (max-width: 1045px){
  .card {
    width: 80vw;
    height: 40vh;
  }

  .card__banner{
    width: 50%;
    justify-content: unset;
  }
  .card__form{
    width: 50%;
    justify-content: unset;
  }
}


@media screen and (max-width: 500px){

  .imagem{
    display: none;
  }

  .card {
    width: 90vw;
    height: auto;
    flex-direction: column;
  }

  .card__banner{
    width: auto;
    justify-content: unset;
  }
  .card__form{
    width: auto;
    justify-content: unset;
  }
}
