.container {
  display: flex;
  flex-direction: column;
}

.card {
  width: 80vw;
}

.login{
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
}

@media screen and (min-width:1080px){
  .card {
    width: 25vw;
  }
}

button{
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  margin: 1em;
}

p{
  text-align: center;
}
