<div class="componente">
  <h1>{{exercicio.titulo}}</h1>
  <p class="enunciado">
    {{exercicio.enunciado}}
  </p>
  <p class="proprosicao">{{exercicio.proposicao}}:</p>

  <form class="exercicioForm" [formGroup]="exercicioForm">
    <section class="alternativas" >
      <div
      class="alternativa"
      [class.input-label-true]="afirmativa.get('resposta')?.value == true && submetido == true && afirmativa.get('categoria')?.value == true"
      *ngFor="let afirmativa of formAfirmativas.controls" >
        <ng-container [formGroup]="$any(afirmativa)">
        <input
          class="checkbox"
          type="checkbox"
          id="{{afirmativa.get('identificador')?.value}}"
          name="{{afirmativa.get('identificador')?.value}}"
          [value]="false"
          formControlName="categoria"
          >
        <label
        for="{{afirmativa.get('identificador')?.value}}"
        class="input-label"
        [class.input-label-true]="afirmativa.get('resposta')?.value == true && submetido == true && afirmativa.get('categoria')?.value == true"

        >
          <div class="identificador"><p> {{afirmativa.get('identificador')?.value}}</p></div>
          <div class="conteudo">
            <p>{{afirmativa.get('conteudo')?.value}}</p>
            <div
            class="corretiva"
            *ngIf="submetido"
            [class.corretiva__true]="afirmativa.get('resposta')?.value == true"
            [class.corretiva__false]="afirmativa.get('resposta')?.value == false"
            >
            <p>{{afirmativa.get('corretiva')?.value}}</p>
            </div>
          </div>
        </label>
      </ng-container>
      </div>

      <div *ngIf="submetido == true" class="resultado" [class.bad]="verificador == false">
        <p> {{resultado}}</p>
      </div>
    </section>
    <div class="botoes">
      <button mat-stroked-button class="verificar" (click)="verificarRespostas()">CONFERIR RESPOSTAS</button>
      <button mat-stroked-button class="avancar">PRÓXIMO EXERCÍCIO</button>
    </div>
  </form>
</div>
