<div class="componente">
  <h1>Gerando um componente em angular</h1>
  <p class="enunciado">
    {{enunciado}}
  </p>
  <p class="proprosicao">{{proposicao}}:</p>
  <section class="alternativas">
    <div class="alternativa">
      <div class="identificador"><p>{{identificador}}</p></div>
      <div class="conteudo"><p>{{conteudo}}</p></div>
    </div>

    <div class="alternativa">
      <div class="identificador"><p>B</p></div>
      <div class="conteudo"><p>{{conteudo}}</p></div>
    </div>

    <div class="alternativa">
      <div class="identificador"><p>C</p></div>
      <div class="conteudo"><p>{{conteudo}}</p></div>
    </div>

    <div class="alternativa">
      <div class="identificador"><p>D</p></div>
      <div class="conteudo"><p>{{conteudo}}</p></div>
    </div>

  </section>
  <div class="botoes">
    <button mat-stroked-button class="verificar">verificar</button>
    <button mat-stroked-button class="avancar">avançar</button>
  </div>

</div>
