.componente {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-height: 100vh;
  margin: auto;
  margin-top: 2em;
}

.componente h1 {
  text-align: center;
}

.enunciado, .proposicao {
  text-align: justify;
}

.alternativa {
  display: flex;
  align-items: center;
  background-color: rgb(226, 226, 226);
  min-height: 8vh;
  margin-bottom: 1em;
}

.input-label {
  display: flex;
  align-items: center;
  background-color: rgb(226, 226, 226);
}

.input-label-true {
  background-color: inherit;
}


.identificador {
  background-color:rgb(226, 226, 226);
  width: 6vw;
  min-height: 6vh;
}

.identificador p {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 6vh;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  min-height: 6vh;
  margin: 12px;
  padding: 1em;
  width: 90%;
}

.conteudo p {
  text-align: justify;
  min-width:40vw;
}

.botoes {
  display: flex;
  justify-content: flex-end;
}

.verificar {
  background-color: green;
  color: white;
}

.avancar {
  margin-left: 8px;
}

.checkbox:checked ~ label {
  opacity: 0.8;
}



.resultado {
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 0;
  color: green;
}

.good {
  color: green;
}
.bad {
  color: red;
}

.corretiva {
  min-height: 5vh;
  background-color: white;
  padding: 1em;
}

.corretiva__true {
  color: green;
}

.corretiva__false {
  color: red;

}
