/*Genericas*/

.container {
  display: flex;
  flex-direction: column;
 }



mat-card {
  width: 80vw;
  margin: auto;
  min-height: 21vh;
  padding: 2em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
 }


/*Inputs*/

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-label {
  margin-bottom: 0.4em;
  font-size: 1rem;
  color: var(--primary-text-color);
}

/*Sticky footer*/
html, body {
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background: var(--gradient-background-1);
      background: linear-gradient(
        135deg,
        var(--gradient-background-2) 51%,
        var(--gradient-background-3) 91%,
        var(--gradient-background-4) 100%
      );
}

.form-group{
  display: flex;
  flex-direction: column;
}

.perfil-form{
  display: flex;
  flex-direction: column;
}

.wrapper input{
  width: 75%;
}
.btn_deletar{
  margin-bottom: 1em;
}




/*Media Queries*/
@media (max-width: 676px) {

  mat-card {
    max-width: 80vw;
    margin: auto;
    height: auto;
    padding: 2em;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
   }

  .mat-form-field {
   font-size: 1em;;
   max-width: 80vw;
  }
  .form-group{
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    height: auto;
    background: var(--gradient-background-1);
      background: linear-gradient(
        135deg,
        var(--gradient-background-2) 51%,
        var(--gradient-background-3) 91%,
        var(--gradient-background-4) 100%
      );
  }

}

@media (max-width: 768px) {
}

@media (max-width: 1045px) {
}
