/*Genericas*/

.container {
  display: flex;
  flex-direction: column;
 }



/*Sidenav*/

.example-container {
    min-height: 80vh;
    background: var(--primary-background-color)
  }

  mat-sidenav{
      width: 10vw;
  }

  li{
    padding-top: 2em;
    list-style: none;
  }


/*Dados Pessoais*/

mat-card {
  margin: 0.8em;
  min-height: 21vh;
  padding: 2em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
 }

 mat-card:first-child {
  margin-top: 0;
 }

/*Inputs*/

label {
  margin-bottom: 0.4em;
  font-weight: 500;
}

.usuario-dados input{
  border-radius: 6px;
  border: 1px solid #d0d7de;
  background-color: #f6f8fa;
  padding: 8px 12px;
  margin-bottom: 1rem;
  width: 15vw;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.dados__nascimento, .dados__ingresso, .dados__curso, .dados__periodo, .dados__perfil {
  width: 15w;
}

.campos{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
}

.dados_escolares {
  margin-top: 3em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.campos p{
  font-weight: bold;
}

mat-card h2{
  border-bottom: 1px solid #d0d7de;
}

button{
  border: 1px solid black;
}

/*Tabela*/

table {
  width: 100%;
}


/*Sticky footer*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.perfil-form{
  display: flex;
  flex-direction: column;
}
.wrapper{
  display: flex;
  justify-content: space-between;
}

.wrapper input{
  width: 75%;
}
.btn_deletar{
  margin-bottom: 1em;
}

.mat-card{
  width: 80vw;
  height: auto;
  margin: auto;
}
