<body>
  <div class="content">
    <app-header></app-header>
    <mat-card>
      <mat-card-title>Atualizar ou deletar dados</mat-card-title>
      <mat-card-subtitle>Formulário</mat-card-subtitle>
      <div [hidden]="submitted" style="width: 400px">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Nome</label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              [(ngModel)]="usuario.name"
              name="name"
            />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              required
              [(ngModel)]="usuario.email"
              name="date"
            />
          </div>

          <div class="form-group">
            <label for="cpf">cpf</label>
            <input
              type="text"
              class="form-control"
              id="cpf"
              required
              [(ngModel)]="usuario.cpf"
              name="cpf"
            />
          </div>

          <div class="form-group">
            <label for="dtNascimento">Data de Nascimento</label>
            <input
              type="text"
              class="form-control"
              id="dtNascimento"
              required
              [(ngModel)]="usuario.dtNascimento"
              name="dtNascimento"
            />
          </div>

          <div class="form-group">
            <label for="ra">RA</label>
            <input
              type="number"
              class="form-control"
              id="ra"
              required
              [(ngModel)]="usuario.ra"
              name="ra"
            />
          </div>

          <div class="form-group">
            <label for="cursoMatriculado">Curso Matriculado</label>
            <input
              type="text"
              class="form-control"
              id="cursoMatriculado"
              required
              [(ngModel)]="usuario.cursoMatriculado"
              name="cursoMatriculado"
            />
          </div>

          <div class="form-group">
            <label for="anoIngresso">Ano que Ingressou</label>
            <input
              type="text"
              class="form-control"
              id="anoIngresso"
              required
              [(ngModel)]="usuario.anoIngresso"
              name="anoIngresso"
            />
          </div>

          <div class="form-group">
            <label for="periodo">Periodo do curso Matriculado</label>
            <input
              type="text"
              class="form-control"
              id="periodo"
              required
              [(ngModel)]="usuario.periodo"
              name="periodo"
            />
          </div>
          <span>Perfis do Usuario</span>
          <form [formGroup]="formRole">
            <button mat-button type="button" color="primary" (click)="addRoles()">
              <mat-icon>add</mat-icon>
            </button>
            <div formArrayName="roles" fxFlex="100"  fxLayout="column">
              <ng-container *ngFor="let roless of roles.controls; let i=index" >
                <div [formGroupName]="i">
                  <mat-form-field fxFlex="100">
                    <div *ngIf="roless.value !== 'ADMIN' && roless.value !== 'ALUNO' && roless.value !== 'INSTRUTOR'; else perfilUser"><input formControlName="role" matInput type="text" class="form-control" placeholder="Perfil do usuario"></div>
                    <ng-template #perfilUser><input formControlName="role" matInput type="text" class="form-control" placeholder="Perfil do Usuarios: {{ roless.value }}"></ng-template>
                  </mat-form-field>
                  <button mat-button type="button" color="primary" (click)="removeDoFormArray(roles, i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </ng-container>
            </div>
          </form>
          <mat-card-actions>
            <button mat-button type="submit" class="btn btn-success">
              ATUALIZAR
            </button>
          </mat-card-actions>
        </form>
      </div>
    </mat-card>
  </div>

  <app-footer class="footer"></app-footer>
</body>
