<footer class="footer" #footer>
  <mat-toolbar class="rodape container">
    <div class="developed">
      <p>Desenvolvido por: Alan, Ana, Gabriella, Raphael e Silas</p>
      <p>Desenvolvimento de Software Multiplataforma 3° Sem</p>
    </div>
    <div class="copy">
      <p class="developed">Fatec ZL - Wings &copy; 2022</p>
    </div>
    <div class="socialMedia">
      <p class="developed">Acompanhe nossas redes sociais!</p>
      <a href="https://www.facebook.com/fateczl.oficial/">
        <img
          id="media-img"
          src="assets/imagens/facebook.png"
          width="50px"
          alt="Icone facebook"
          class="icone_rede"
      /></a>
      <a href="https://www.instagram.com/fateczl.oficial/">
        <img
          id="media-img"
          src="assets/imagens/instagram.png"
          width="50px"
          alt="Icone Instagram"
          class="icone_rede"
      /></a>
      <a href="https://twitter.com/Fateczl_oficial">
        <img
          id="media-img"
          src="assets/imagens/twitter.png"
          width="50px"
          alt="Icone Twitter"
          class="icone_rede"
      /></a>
      <a
        href="https://www.linkedin.com/company/faculdade-de-tecnologia-zona-leste-fatec-zl/"
      >
        <img
          id="media-img"
          src="assets/imagens/linkedin.png"
          width="50px"
          alt="Icone Linkedin"
          class="icone_rede"
      /></a>
      <a href="https://www.youtube.com/channel/UCe04vfzsQcRrGgfaWyx-GoA">
        <img
          id="media-img"
          src="assets/imagens/youtube.png"
          width="50px"
          alt="Icone Youtube"
          class="icone_rede"
      /></a>
    </div>
  </mat-toolbar>
</footer>
