.rodape {
  color: var(--footer-text-color);
  height: 150px;
  margin-top: 1em;
  background-color: transparent;
  width: 100%;
  padding: 0 6vw 0 6vw;

}

.container {
  display: flex;
  justify-content: space-between;
}

.developed p{
  font-size: .9em;
}


.icone_rede {
  margin-top: 8px;
  margin-left: 12px;
}


.socialMedia img{
  filter: grayscale(.3);
}

@media (max-width: 500px) {
  .developed{
    display: none;
  }
  .container{
    flex-direction: column;
  }
  .socialMedia{
    margin: 0;
    padding: 0;
    border: 0;
  }
  .rodape{
    height: auto;
  }
}
