.exercicio
{
  width: 50%;
  padding: 1em;
}

.exercicio-titulo
{
  font-size: 1.5em;
}

.alternativa
{
  display: flex;
}

.alternativa p{
  padding: 6px;
}

.opcao
{
  border: 1px solid black;
  background-color: aquamarine;
  width: 20px;
  text-align: center;
  padding: 8px;
  vertical-align: middle;
  margin-right: 8px
}

.gabarito
{
  display: flex;
}

.altenartivas-selecionadas
{
  font-weight: 500;
  margin-top: 2em;
}

.buttons
{
  margin-top: 2em;
}

.tabela th{
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: black;
}

.tabela td{
  text-align: center;
}

table {
  width: 80%;
  margin: auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.tabela h1 {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}


/*Sticky footer*/
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgb(66, 16, 11);
  background: linear-gradient(
    135deg,
    rgba(66, 16, 11, 1) 51%,
    rgba(0, 0, 0, 1) 91%,
    rgba(0, 0, 0, 1) 100%
  );
}

.resposta-correta {
  color: green;
}

::ng-deep .mat-horizontal-stepper-header:not([ng-reflect-active="true"]){
  pointer-events: none !important;
}

.resposta-errada {
  color: red
}

.content {
  flex: 1 0 auto;

}
.footer {
  flex-shrink: 0;
}
