
<body>
  <app-header></app-header>
  <div class="content"  *ngIf="usuarioLogado$ | async as user ">
    <button *ngIf="user.roles.includes('INSTRUTOR')" (click)="gotoCadastra()" mat-button type="submit">
      CADASTRAR EXERCICIOS
    </button>
    
    <mat-card class=card__container>
      <mat-card class="card__1">
          <mat-card-header>
              <mat-card-title>Fatecflix</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>Exercicios</h2>
         </mat-card-content>
          <mat-card-footer>
         </mat-card-footer>
     </mat-card >
    <mat-card class="card__2" >
        <form *ngFor="let exercicio of exercicios | async">
          <div class="input">
            <label for="titulo">{{exercicio.titulo}}</label>
          </div>
          <div class="input">
            <label for="enunciado">{{exercicio.enunciado}}</label>
            </div>
          <div *ngIf="user.roles.includes('INSTRUTOR')" class="input">
            <label  for="resposta">Resposta da Questão: {{exercicio.resposta}}</label>

            </div>
            <span>Afirmativas</span>
            <form *ngFor="let afirmativa of exercicio.afirmativas">
              <input
              type="radio"
              class="form-control"
              id="resposta"
             required
              [value]="afirmativa"
              name="resposta"
              />
              <label for="resposta">{{afirmativa}}</label>

            </form>
          <mat-card-actions>
            <button mat-button type="submit">
              RESPONDER
            </button>
            <button *ngIf="user.roles.includes('INSTRUTOR')" (click)="atualiza(exercicio.exercicioId)">Atualizar</button>
            <button *ngIf="user.roles.includes('INSTRUTOR')" (click)="deleta(exercicio.exercicioId)">Deletar</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </mat-card>

    <app-responder-exercicio></app-responder-exercicio>
  </div>
  <app-footer class="footer"></app-footer>
</body>

