.exercicio
{
  width: 50%;
  padding: 1em;
  color: var(--primary-text-color);
}

.exercicio-titulo
{
  font-size: 1.5em;
  color: var(--primary-text-color);
}

.alternativa
{
  display: flex;
  color: var(--primary-text-color);
}

.alternativa p{
  padding: 6px;
}

.opcao
{
  width: 20px;
  text-align: center;
  padding: 8px;
  vertical-align: middle;
  margin-right: 8px
}

.gabarito
{
  display: flex;
}

.altenartivas-selecionadas
{
  font-weight: 500;
  margin-top: 2em;
}

.buttons
{
  margin-top: 2em;
}

.tabela th{
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: black;
}

.tabela td{
  text-align: center;
}

table {
  width: 80%;
  margin: auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.tabela h1 {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

.resposta-correta {
  color: var(--right-answer-color);
}

::ng-deep .mat-horizontal-stepper-header:not([ng-reflect-active="true"]){
  pointer-events: none !important;
}

.resposta-errada {
  color: var(--error-text-color)
}


mat-vertical-stepper,
mat-selection-list,
mat-list-option{
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}
