
.example-card {
  max-width: 300px;
  margin-bottom: 10em;
  margin-left: 25px;
  -webkit-box-reflect: below 5px
	linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.151));
  -webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  box-shadow: 5px 5px 15px #ff0534;
}

.example-card:hover{
  -webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.super-container{
  /* background-color: blue; */
  width: 80%;
}

.container {
  /* background-color: aquamarine; */
  display:flex;
  flex-wrap: wrap;
}

.wrapper{
  /* background-color: #ff0534; */
  margin-top: 6em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo{
  color: #fefefe;
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 2em;
}

.categoria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}


.categoria button {
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  border:none;
  color: red;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 10px;
}
