table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: var(--primary-text-color);
}

.btn_exercicios{
  margin-left: 8px;
}

/*Media Queries*/
@media (max-width: 676px) {
  .panel-body {
    overflow-x: scroll;
  }
  table{
    background-color: var(--perfil-input-background);

  }
  .panel-body th, .panel-body td {
    color: var(--primary-text-color);
    min-width: 30vw;
    min-height: 10vh;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .btn_exercicios{
    margin-left: 0;
    margin-top: 0.5rem;
  }

}

@media (max-width: 768px) {
}
