
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Aula 01</mat-card-title>
    <mat-card-subtitle>Tipos Primitivos em Python</mat-card-subtitle>
  </mat-card-header>
  <div class="card-video">
    <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/hdDHg1p3YVc"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  </div>
  <mat-card-content>
    <h1>Tipos Primitivos em Python</h1>
    <p>
      Tipos primitivos são tipos de dados primitivos(básicos), ou seja tipos de dados que podemos manipular dentro de uma variavel, por exemplo:

      Inteiro - int -> Numeros inteiros( -2,-1,1,2,3,4....)

      Real, Ponto futuante - float -> Numeros com casas decimais(2.56)

      Booleano - bool -> verdadeiro ou falso (true, false)

      complexo - complex -> aindanão sei tenho de pesquisar mais :c

      String - str -> textos alfanumericos("o rato roeu a roupa do rei")

      Para conferir cada tipo podemos usar a função type.

      nome = 'Dormin' #string
      idade = 26 #int
      altura = 1.75 #float
      humano = true #bool

      type(nome)


      Espero ter ajudado conforme for aprendendo postarei cada vez mais :)
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="btn-fluxo">
      <button mat-button>ANTERIOR</button>
      <button mat-button>PRÓXIMA</button>
    </div>
    <div class="btn-concluir">
      <button mat-button>CONCLUIR AULA<mat-icon>skip_next</mat-icon></button>

    </div>
  </mat-card-actions>
</mat-card>
