<div class="wrapper" *ngIf="usuarioLogado$ | async as user">
  <div class="superior">
    <div class="superior__esquerda">
      <section class="info">
        <h2 class="categoria">{{ curso.categoria }}</h2>
        <h1 class="titulo">{{ curso.titulo }}</h1>
        <div class="info__gerais">
          <p>Avaliação: {{ curso.mediaAvaliacao }}</p>
          <p>Atualizado em: {{ curso.dataAtualizacao }}</p>
          <p>Carga Horária: {{ curso.cargaHorario }}</p>
        </div>
      </section>
      <section class="superior__direita">
        <mat-icon>code</mat-icon>
      </section>
    </div>
  </div>
  <section class="barra_acoes">
    <button
      mat-stroked-button
      color="warn"
      (click)="matricular(cursoId)"
      *ngIf="user.roles.includes('ALUNO')"
    >
      matricular
    </button>
    <button mat-stroked-button (click)="gotoAulas(cursoId)">
      continuar curso
    </button>
    <button mat-stroked-button [matMenuTriggerFor]="menu">outras ações</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Cancelar Matricula(não implementado)</button>
      <button mat-menu-item>Atualizar Curso(não implementado)</button>
      <button mat-menu-item>Deletar Curso Matricula(não implementado)</button>
    </mat-menu>
  </section>

  <div class="inferior">
    <div class="inferior__esquerda">
      <section class="sobre">
        <h3>Sobre este curso:</h3>
        <p class="descricao">{{ curso.descricao }}</p>
      </section>
      <section class="aulas">
        <h3>Aulas</h3>
        <div class="aulas__lista">
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let aula of aulas | async">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ aula.titulo }}</mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{ aula.conteudo }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </section>
    </div>
    <div class="inferior__direita" *ngIf="user.roles.includes('INSTRUTOR')">
      <section class="estudantes">
        <h3>Estudantes</h3>
        <div class="estudantes__lista">
          <div class="icon">
            <mat-icon class="video-icon">personal_video</mat-icon>
          </div>
          <ul class="lista">
            <li *ngFor="let usuario of usuarios | async">
              <mat-icon class="person-icon">person</mat-icon>
              <p>{{ usuario.name }} {{ usuario.lastname }}</p>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
