.example-card {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: var(--login-card-background);
  box-shadow: 3px 3px 6px var(--listar-curso-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button{
  width: 45%;
  background-color: var(--btn-background-color3);
  color: var(--secondary-text-color);
}

.card-align{
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista
{
  overflow-y: scroll;
}

/*Media Queries*/
@media (max-width: 676px) {
  .card-align{
    flex-direction: column;
  }
  .example-card {
    width: 80vw;
    min-height: 50vh;
    margin: auto;
    margin-top: 2rem;
    background-color: var(--login-card-background);
    box-shadow: 3px 3px 6px var(--listar-curso-box-shadow);
  }
  .container {
    overflow-y: hidden;
    text-align: justify;
    height: 89%;
  }
}





