<div class="container usuario" *ngIf="usuarioLogado$ | async as user ">
  <button mat-flat-button (click)="irParaConsultaDeUsuario()" *ngIf="user.roles.includes('ADMIN')" >Gestão de Usuarios</button>
  <button mat-flat-button *ngIf="user.roles.includes('ALUNO')" routerLink="/cursos/listar">Cursos Disponiveis</button>
  <button mat-flat-button *ngIf="user.roles.includes('ALUNO')" routerLink="/cursos/matricula">Meus Cursos</button>
  <button mat-flat-button *ngIf="user.roles.includes('ALUNO')" routerLink="/usuario/historico">Meu Historico</button>
  <div class="menu_cursos" *ngIf="user.roles.includes('INSTRUTOR')">
    <button mat-button [matMenuTriggerFor]="menu">Gestão de Cursos</button>
    <mat-menu #menu="matMenu">
      <button class="menu" mat-menu-item routerLink="/cursos/cadastrar">Cadastrar curso</button>
      <button class="menu" mat-menu-item routerLink="/cursos/listar">Listar cursos</button>
      <button class="menu" mat-menu-item routerLink="/cursos/menu">Menu de cursos</button>
    </mat-menu>
  </div>
  <button class="btn-sair" mat-flat-button routerLink="/usuario/perfil">Perfil</button>
  <button class="btn-sair" mat-flat-button (click)="loggout()" >Sair<mat-icon class="icone-sair">logout</mat-icon></button>
</div>
