.container {
  display: flex;
  font-size: 0.6em;
}

mat-menu-item{
  background-color: var(--header-background-color2);
}


.menu {
  font-size: 1.2em;
  background-color: var(--header-background-color2);
  color: var(--link-primary-color);
}


button {
  background-color: transparent;
  color: var(--link-primary-color);
  font-size: 1.5em;
}

.logoHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.icone-sair {
  margin-left: 16px;
}

.btn-sair {
  margin-left: 8px;
}

.menu__mobile {
  display: none;
}




@media (max-width: 676px) {
  .container{
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
  }
  button {
    font-size: 1em;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .menu__desktop{
    display: none;
  }
  .menu__mobile{
    display: inline;
    width: 80vw;
    background-color: var(--primary-background-color) !important
  }

  .menu__mobile button {
    font-size: 1rem;
  }
  .opcoes {
    display: flex;
    flex-direction: column;
  }
  .icone-sair {
    margin-left: 0px;
  }

  .btn-sair {
    margin-left: 0px;
  }
  mat-expansion-panel-header{
    padding: 0;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border: 0;
  }
  .submenu button{
    font-size: 1rem;
  }
  .logoHeader {
    width: 170px;
  }

}

@media (max-width: 768px) {
  .logoHeader {
    width: 170px;
  }
}


