<div class="container usuario" *ngIf="usuarioLogado$ | async as user ">
  <button mat-flat-button (click)="irParaConsultaDeUsuario()" *ngIf="user.roles.includes('ADMIN')" >Gestão de Usuarios</button>
  <button mat-flat-button *ngIf="user.roles.includes('ALUNO')" >Meus Cursos</button>
  <button mat-flat-button *ngIf="user.roles.includes('ALUNO')" >Meu Historico</button>
  <button mat-flat-button *ngIf="user.roles.includes('INSTRUTOR')" >Gestão de Cursos</button>
  <button mat-button [matMenuTriggerFor]="menu">Cursos</button>
  <mat-menu #menu="matMenu">
    <button class="menu" mat-menu-item routerLink="/cursos/cadastrar">Cadastrar Curso</button>
    <button class="menu" mat-menu-item>Listar Cursos</button>
  </mat-menu>
  <button mat-flat-button (click)="loggout()" >Loggout</button>
</div>
