.container {
  display: flex;
  font-size: 0.6em;
}

mat-menu-item{
  background-color: var(--header-background-color2);
}


.menu {
  font-size: 1.2em;
  background-color: var(--header-background-color2);
  color: var(--link-primary-color);
}


button {
  background-color: transparent;
  color: var(--link-primary-color);
  font-size: 1.5em;
}

.logoHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
}

@media (max-width: 676px) {
  button {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .logoHeader {
    width: 170px;
  }
}

.icone-sair {
  margin-left: 16px;
}

.btn-sair {
  margin-left: 8px;
}
