<body>
  <app-header></app-header>
  <div class="content">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Descrição</th>
          <th>Carga Horária</th>
          <th>Atualização</th>
          <th>Avaliação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos | async">
          <td>{{curso.titulo}}</td>
          <td>{{curso.descricao}}</td>
          <td>{{curso.cargaHorario}}</td>
          <td>{{curso.dataAtualizacao}}</td>
          <td>{{curso.mediaAvaliacao}}</td>
          <td>
            <button (click)="atualizaCurso(curso.id)" class="btn btn-info" style="margin-right: 10px">Matricular</button>
            <button (click)="deletaCurso(curso.id)" class="btn btn-danger">Deletar</button>
            <button (click)="atualizaCurso(curso.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <app-footer class="footer"></app-footer>
</body>
