.super-container {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 4px 10%;
  color: var(--secondary-text-color)
 }
 
 .container-filtro mat-form-field {
  background-color: var(--primary-background-color);
  border-radius: 12px;
}

@media (max-width: 676px) {
  .super-container {
    justify-content: flex-start;
    padding: 4px 36px;
  }
}

