<div class="super-container">
  <div class="container-filtro">
    <mat-form-field appearance="fill">
      <mat-label>Filtrar por categoria</mat-label>
      <mat-select [formControl]="categoriasControl" #novaCategoria (valueChange)="selecionaCategoria(novaCategoria.value)">
        <mat-option value="Todos">Todas</mat-option>
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{categoria}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
