.container {
  display: flex;
  flex-direction: column;
}

table {
  width: 88%;
  margin: auto;
  text-align: left;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

th {
  color: var(--primary-text-color);
}

td {
  color: var(--primary-text-color);
}

.panel-body {
  padding: 2vh 0;
}

h1 {
  padding: 0 0 1vw 6vw;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--primary-text-color);
}

/*Sidenav*/

.example-container {
  min-height: 80vh;
  background: var(--primary-background-color);
}

mat-sidenav {
  width: 10vw;
}

li {
  padding-top: 2em;
  list-style: none;
}

/*Dados Pessoais*/

mat-card {
  margin: 0.8em;
  min-height: 21vh;
  padding: 2em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

mat-card:first-child {
  margin-top: 0;
}

/*Inputs*/

label {
  margin-bottom: 0.4em;
  font-weight: 500;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.dados__nascimento,
.dados__ingresso,
.dados__curso,
.dados__periodo,
.dados__perfil {
  width: 15w;
}

.campos {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
}

.dados_escolares {
  margin-top: 3em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.campos p {
  font-weight: bold;
}

/*Sticky footer*/
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background: var(--gradient-background-1);
  background: linear-gradient(
    135deg,
    var(--gradient-background-2) 51%,
    var(--gradient-background-3) 91%,
    var(--gradient-background-3) 100%
  );
}
