<body>
  <app-header></app-header>
  <div class="content">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Username</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios | async">
          <td>{{usuario.name}}</td>
          <td>{{usuario.cpf}}</td>
          <td>{{usuario.username}}</td>
          <td><button (click)="deletaUsuario(usuario.userId)" class="btn btn-danger">Deletar</button>
            <button (click)="atualizaUsuario(usuario.userId)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <app-footer class="footer"></app-footer>
</body>
