<!DOCTYPE html>
<html>
<head>
    <title>Certificado de Conclusão de Curso</title>
</head>
<body class="body">
    <div class="certificate">

      <img class="wave" src="assets/imagens/wave copy.svg" />
      <img class="logo" src="assets/imagens/FatecFlix.png" />
        <div class="title">Certificado de Conclusão de Curso</div>
        <div class="subtitle">Certificamos que</div>
        <div class="student">Nome do Aluno</div>
        <div class="course">Nome do Curso</div>
        <div class="date">Concluído o curso X em 28 de Maio de 2023</div>
    </div>

    <button (click)="printSimplePDF()">Teste</button>
</body>
</html>
