<div *ngIf="usuarioLogado$ | async as user ">
  <mat-card class="example-card" *ngFor="let comentario of comentarios | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ comentario.name }} {{ comentario.lastname }}</mat-card-title>
      <mat-card-subtitle>@{{ comentario.username }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ comentario.comentario }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="warn" *ngIf="user.roles.includes('INSTRUTOR')" (click)="deleta(comentario.comentarioId, cursoId)">Deletar</button>
    </mat-card-actions>
  </mat-card>
</div>

