.container{
  display: flex;
  flex-direction: column;
}

mat-card{
  margin: auto;
  max-width: 700px;
  box-shadow: 5px 5px 15px var(--card-box-shadow);
  margin-top: 4em;
}


@media (max-width: 676px) {

  mat-card{
    width: 80vw;
  }
}
