<body>
  <app-header></app-header>
  <div class="content">
    <mat-card class=card__container>
      <mat-card class="card__1">
          <mat-card-header>
              <mat-card-title>Fatecflix</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>Atualizar curso</h2>
         </mat-card-content>
          <mat-card-footer>
         </mat-card-footer>
     </mat-card >
    <mat-card class="card__2">
      <h1 class=>Atualizar ou deletar dados</h1>
      <div [hidden]="submitted" style="width: 400px"></div>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="input" hideRequiredMarker>
            <label for="titulo">Titulo:</label>
            <input type="text" class="form-control" id="titulo" required [(ngModel)]="curso.titulo" name="titulo" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="input" hideRequiredMarker>
            <label for="descricao">Descrição:</label>
            <input type="descricao" class="form-control" id="descricao" required [(ngModel)]="curso.descricao"
              name="descricao" />
            </mat-form-field>

          <mat-form-field appearance="outline" class="input" hideRequiredMarker>
            <label for="cargaHorario">Carga Horaria:</label>
            <input type="text" class="form-control" id="cargaHorario" required [(ngModel)]="curso.cargaHorario"
              name="cargaHorario" />
            </mat-form-field>
          <mat-form-field appearance="outline" class="input">
            <label for="dataAtualizacao">Data da Atualizacao:</label>
            <input type="text" class="form-control" id="dataAtualizacao" required [(ngModel)]="curso.dataAtualizacao"
              name="dataAtualizacao" />
          </mat-form-field>
          <mat-card-actions>
            <button mat-button type="submit" class="btn btn-success">
              ATUALIZAR
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </mat-card>
  </div>
</body>
