<body>
  <app-header></app-header>
  <div class="content">
    <mat-card class=card__container>
      <mat-card class="card__1">
          <mat-card-header>
              <mat-card-title>Fatecflix</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>Atualizar curso</h2>
         </mat-card-content>
          <mat-card-footer>
         </mat-card-footer>
     </mat-card >
    <mat-card class="card__2">
      <h1 class=>Atualizar Dados</h1>
      <div [hidden]="submitted"></div>
        <form (ngSubmit)="onSubmit()">
          <div class="input">
            <label for="titulo">Titulo:</label>
            <input
            type="text"
            class="form-control"
            id="titulo"
            required
            [value]="curso.titulo"
            [(ngModel)]="curso.titulo"
            name="titulo"
            />
          </div>
          <div class="input">
            <label for="descricao">Descrição:</label>
            <input
            type="text"
            class="form-control"
            id="descricao"
            required
            [value]="curso.descricao"
            [(ngModel)]="curso.descricao"
            name="descricao"
            />
            </div>
          <div class="input">
            <label for="cargaHorario">Carga Horaria:</label>
            <input
            type="text"
            class="form-control"
            id="cargaHorario"
            required
            [value]="curso.cargaHorario"
            [(ngModel)]="curso.cargaHorario"
            name="cargaHorario"
            />
            </div>
          <div class="input">
            <label for="dataAtualizacao">Data da Atualizacao:</label>
            <input
            type="date"
            class="form-control"
            id="dataAtualizacao"
            required
            [value]="curso.dataAtualizacao"
            [(ngModel)]="curso.dataAtualizacao"
            name="dataAtualizacao"
            />
          </div>
          <mat-card-actions>
            <button mat-button type="submit">
              ATUALIZAR
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </mat-card>
  </div>
</body>
