<section class="cadastro">
  <mat-card class="card">
    <h1 class=>Cadastrar Curso</h1>
    <p class="titulo">Titulo:</p>
    <mat-form-field appearance="fill" class="input">
      <input matInput class="input">
    </mat-form-field>
    <p class="descricao">Descrição:</p>
      <mat-form-field class="descricaoInput" appearance="fill">
        <textarea matInput></textarea>
      </mat-form-field>
    <p class="cargaHoraria">Carga Horária:</p>
    <mat-form-field appearance="fill" class="input">
      <input matInput>
    </mat-form-field>
    <p class="dataAtualizacao" >Data de atualização</p>
    <mat-form-field appearance="fill" class="input">
      <input matInput class="input">
    </mat-form-field>
    <p class="media">Avaliação</p>
    <mat-form-field appearance="fill" class="input">
      <input matInput  disabled="true">
    </mat-form-field>
    </mat-card>
</section>
