body{
  background-color: #D8DEE7;
}

.card__container{
  display: flex;
  justify-content: flex-start;
  margin: 2em;
  width: 70%;

}

.card__1{
  background-color: var(--primary-color);
  width: 30%;
  max-width: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
}



.card__1 h2{
  text-align: jus;
  font-size: 2.5em;
}

.card__1 p{
  text-align: justify;
  font-size: 1.5em;
}

.card__2{
  box-shadow: none;
  width: 70%;
}

.descricaoInput{
  width: 100%;
}

.input{
  width: 100%;
}


button{

  color: var(--primary-color);
  margin: auto;
}

mat-form-field {
  margin-top: 1em;
}




/*Sticky footer*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(66, 16, 11);
      background: linear-gradient(
        135deg,
        rgba(66, 16, 11, 1) 51%,
        rgba(0, 0, 0, 1) 91%,
        rgba(0, 0, 0, 1) 100%
      );
}
.content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}
.footer {
  flex-shrink: 0;
}
