.card{
  width: 40%;
  margin: auto;
  margin-top: 2em;
}

.descricaoInput{
  width: 100%;
}

.input{
  width: 100%;
}


button{
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  margin: auto;
}
