<app-header></app-header>
<form class="cadastro" [formGroup]="novoCursoForm" (submit)="cadastrarCurso()">
  <mat-card class="card">
    <h1 class=>Cadastrar Curso</h1>
    <p class="titulo">Titulo:</p>
    <mat-form-field appearance="fill" class="input">
      <input
      matInput
      class="input"
      type="text"
      formControlName="titulo"
      >
    </mat-form-field>
    <p class="descricao">Descrição:</p>
      <mat-form-field class="descricaoInput" appearance="fill">
        <textarea
        matInput
        formControlName="descricao"
        >
      </textarea>
      </mat-form-field>
    <p class="cargaHoraria">Carga Horária:</p>
    <mat-form-field appearance="fill" class="input">
      <input
      matInput
      formControlName="cargaHoraria"
      type="text"
      >
    </mat-form-field>
    <p class="dataAtualizacao" >Data de atualização</p>
    <mat-form-field appearance="fill" class="input">
      <input
      matInput
      class="input"
      type="date"
      formControlName="dataAtualizacao"
      >
    </mat-form-field>
    <p class="media">Média Avaliação</p>
    <mat-form-field appearance="fill" class="input">
      <input
      matInput
      type="text"
      formControlName="mediaAvaliacao"
      >
    </mat-form-field>
    <button
      mat-flat-button
      [disabled]="novoCursoForm.invalid"
      >CADASTRAR
    </button>
    </mat-card>
  </form>

<app-footer></app-footer>
