<app-navbar></app-navbar>
<section class="login">
  <mat-card>
    <h2>Login</h2>
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput #senha>
      </mat-form-field>
      <button mat-flat-button>ENTRAR</button>
    </div>
    <p><a routerLink='cadastro'>Ainda nâo tem acesso? Cadastre-se!</a></p>
  </mat-card>
</section>
