<app-navbar></app-navbar>
<form class="login" (ngSubmit)="login()" #loginForm="ngForm">
  <mat-card class="card">
    <h2>Login</h2>
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          [(ngModel)]="email"
          name="email"
          #campoEmail="ngModel"
          required
        >
      </mat-form-field>
      <app-messages
      *ngIf="campoEmail.invalid && campoEmail.touched"
        mensagem="Usuário obrigatório"
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input
          matInput [type]="hide ? 'password' : 'text'"
          [(ngModel)]="senha"
          name="senha"
          #campoSenha="ngModel"
          required
        >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <app-messages
          *ngIf="campoSenha.invalid && campoSenha.touched"
           mensagem="Senha obrigatória"
        >
      </app-messages>
      <button
        type="submit"
        mat-flat-button
        [disabled]="loginForm.invalid"
        >ENTRAR</button>
    </div>
    <p><a routerLink='cadastro'>Ainda nâo tem acesso? Cadastre-se!</a></p>
  </mat-card>
</form>
