<!-- <div class="componente">
  <app-listar-aulas></app-listar-aulas>
</div> -->

<div class="componente">
  <div class="esquerda">

    <section class="video-aula">
      <h1 class="titulo"></h1>
      <div class="video-youtube"></div>
    </section>

    <section class="info-textuais">


      <div class="elemento-clicavel1"></div>
      <div class="descricao">
        <h2></h2>
        <p></p>
      </div>

      <div class="texto-apoio">
        <h2></h2>
        <p></p>
      </div>
    </section>

    <section class="comentarios">
      <div class="elemento-clicavel2"></div>

      <div class="comentar">

      </div>
      <div class="lista-comentarios">

      </div>
    </section>
  </div>


  <div class="direita">

    <div class="material-tab">

      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Aulas">
          <section class="aulas"></section>
        </mat-tab>
        <mat-tab label="Exercícios">
          <section class="exercicios"></section>
        </mat-tab>
        <mat-tab label="Materiais">
          <section class="materiais"></section>
        </mat-tab>
      </mat-tab-group>


    </div>

    <div class="usuario-info">

    </div>
  </div>
</div>
