.componente {
  padding: 4vh 10vw;
  display: flex;
  min-height: 80vh;
  background-color: var(--detalhar-curso-background2);
}

.esquerda {
  /* border: 1px solid red; */
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.direita {
  /* border: 1px solid green; */
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--footer-background);
  /* border-radius: 4px; */
}

.video-aula {
  background: var(--footer-background);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .5vw;
}

app-youtube-video {
  width: 54vw;
}

.video-aula h1 {
  padding-top: 2vh;
  font-size: 2.5em;
  font-weight: 500;
  color: var(--secondary-text-color);
}


/* .info-textuais {
} */

.info-textuais p {
  text-align: justify;
}

.comentarios {
  /* background-color: purple; */
  margin-top: 2vh;
}

.lista-comentarios {
  overflow-y: scroll;
  max-height: 50vh;
}

.material-tab {
  /* background-color: darkgoldenrod; */
  margin: 1em auto;
  height: 90%;
  background-color: var(--primary-background-color);
}


::ng-deep .mat-tab-label
{
  width: 90px!important;
  min-width: 6vw!important;
}

.aulas {
  padding: 0.5vw;
}

.aulas button {
  width: 100%;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 1em;
  color: var(--primary-text-color);
}

.matlist {
  padding-top: 0;
  margin-top: 0;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}

.aulas h3{
  padding: 0;
  margin: 0;
  font-weight: 500;
}


.exercicios {
  padding: 0.5vw;
}

.materiais {
  padding: 0.5vw;
}


.usuario-info {
  min-height: 20vh;
  /* background: var(--gradient-background-1);
  background: linear-gradient(
    135deg,
    var(--gradient-background-2) 51%,
    var(--gradient-background-3) 91%,
    var(--gradient-background-4) 100%
  ); */
}

.usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  margin: 1em 0;
}

.esquerda mat-expansion-panel, .esquerda mat-accordion {
  box-shadow: none;
}

/*Media Queries*/


@media only screen and (max-width: 768px) {
  .esquerda .video-aula h1 {
    font-size: 1em;
  }
  .matlist mat-list-item {
    font-size: .8em;
  }
  ::ng-deep .mat-tab-label
{
  width: 70px !important;
  min-width: 6vw!important;
}
}

@media only screen and (max-width: 1024px) {
  .video-aula {
    height: auto;
    width: auto;
  }
  .material-tab {
    width: 95%;
    height: 80%;
  }
  .usuario-info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20%;
    min-height: auto;
  }
  .video-aula h1 {
    font-size: 1.5em;
  }
  .esquerda {
    width: 50vw;
  }
  .direita {
    width: 30vw;
    height: auto;
  }
  .componente {
    min-height: auto;
  }
  app-youtube-video {
    width: 44vw;
  }

}

@media only screen and (min-width: 1280px) {


}

@media only screen and (min-width: 1536px) {


}
