<!-- <div class="componente">
  <app-listar-aulas></app-listar-aulas>
</div> -->

<div class="componente">
  <div class="esquerda">

    <section class="video-aula">
      <h1>Titulo da Aula</h1>
      <app-youtube-video videoID='{{videoId}}'></app-youtube-video>
    </section>

    <section class="info-textuais">


      <div class="elemento-clicavel1"></div>
      <div class="descricao">
        <h2></h2>
        <p></p>
      </div>

      <div class="texto-apoio">
        <h2></h2>
        <p></p>
      </div>
    </section>

    <section class="comentarios">
      <div class="elemento-clicavel2"></div>

      <div class="comentar">

      </div>
      <div class="lista-comentarios">

      </div>
    </section>
  </div>


  <div class="direita">

    <div class="material-tab">

      <mat-tab-group class="tab" animationDuration="1000ms">
        <mat-tab label="Aulas">
          <section class="aulas">
            <h3>Lista de Aulas</h3>
            <h3>Lista de Aulas</h3>
            <h3>Lista de Aulas</h3>
            <h3>Lista de Aulas</h3>
            <h3>Lista de Aulas</h3>
            <h3>Lista de Aulas</h3>
          </section>
        </mat-tab>
        <mat-tab label="Exercícios">
          <section class="exercicios">
            <h3>Lista de Exercícios</h3>
            <h3>Lista de Exercícios</h3>
            <h3>Lista de Exercícios</h3>
            <h3>Lista de Exercícios</h3>
            <h3>Lista de Exercícios</h3>
            <h3>Lista de Exercícios</h3>
          </section>
        </mat-tab>
        <mat-tab label="Materiais">
          <section class="materiais">
            <h3>Lista de Materiais</h3>
            <h3>Lista de Materiais</h3>
            <h3>Lista de Materiais</h3>
            <h3>Lista de Materiais</h3>
            <h3>Lista de Materiais</h3>
            <h3>Lista de Materiais</h3>
          </section>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="usuario-info">

    </div>
  </div>
</div>
