<div class="wrapper"  *ngIf="usuarioLogado$ | async as user ">
  <div class="content">
    <app-header></app-header>
    <div class="card-align">
      <mat-card class="example-card">
        <div class="container">
          <mat-card-title><h1>{{ curso.titulo }}</h1></mat-card-title>
          <mat-card-subtitle><h2>{{ curso.categoria }}</h2></mat-card-subtitle>
          <h3>{{ curso.cargaHorario }}</h3>
          <p>{{ curso.descricao }}</p>
        </div>
        <mat-card-actions>
          <div class="buttons">
            <button mat-stroked-button (click)="gotoAulas(cursoId)">Ir para aulas</button>
            <button mat-stroked-button (click)="gotoCadastroAulas(cursoId)" *ngIf="user.roles.includes('INSTRUTOR')">Cadastrar aulas</button>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card *ngIf="user.roles.includes('INSTRUTOR')" class="example-card" >
        <h2>Lista de Alunos</h2>
        <div class="lista">
        <div class="container" *ngFor="let usuario of usuarios | async">
          <mat-card-title><h3>{{ usuario.name }} {{ usuario.lastname }}</h3></mat-card-title>
          <p>@{{ usuario.username }}</p>
        </div>
      </div>
      </mat-card>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</div>
