<div class="wrapper">
  <div class="content">
    <app-header></app-header>
    <mat-card class="card__container">
      <mat-card class="card__1">
        <mat-card-header>
          <mat-card-title>Fatecflix</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h2>Excluir Exercicio</h2>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card__2">
        <form>
          <mat-form-field appearance="outline" class="input">
            <input
              matInput
              placeholder="Titulo do exercicio"
              [value]="exercicio.titulo"
              name="titulo"
              disabled
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="input">
            <input
              matInput
              placeholder="Enunciado do exercicio"
              [value]="exercicio.enunciado"
              name="enunciado"
              disabled
            />
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="deleteExercicio()" color="warn">
          Excluir
        </button>

        <button mat-raised-button (click)="cancel()">Cancelar</button>
      </mat-card>
    </mat-card>
  </div>
  <app-footer class="footer"></app-footer>
</div>
