.container{
  display: flex;
  flex-direction: column;
}

.content mat-card{
  height: fit-content;
  box-shadow: none;
}

.content mat-card-title {
  font-size: 1em;
}

.content mat-card-actions {
  height: 2vh;
}

.footer {
  flex-shrink: 0;
}

/*Media Queries*/

