mat-grid-tile {
  height: 70vh;
  overflow-y: scroll;
  background-color: transparent;
}

mat-grid-list {
  height: 70vh;
}

.container {
  max-height: 95%;
  max-width: 95%;
}

app-exibir-aula {
  width: auto;
  height: auto;
}

app-listar-aulas {
  padding: 1em;
  height: auto;
  width: auto;
}

.tile_lista {
  background-color: transparent;
}
.tile_aula {
  background-color: var(--primary-background-color);
}
