mat-grid-tile {
  background: lightblue;
}

.banner{
  width: 60vw;
  margin: auto;
}


/*Sticky footer*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  }
.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background: rgb(66, 16, 11);
  background: linear-gradient(
    135deg,
    rgba(66, 16, 11, 1) 51%,
    rgba(0, 0, 0, 1) 91%,
    rgba(0, 0, 0, 1) 100%
  );
}


.size{
  margin-top:50px;
  width: 660px;
  height: 600px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(172, 19, 5);
}

main{
  display: flex;
  flex-direction: row;
  background-color: rgb(66, 16, 11);
}

#teste{
  color:black;
  font-size: 25px;
}

h2{
  margin-left: 30px;
  font-size:90px;
  line-height: 90px;
  font-family: poppinsmedium;
  margin-top: 120px;
  color: white;
}

p{
  line-height:100px;
  max-width: 500px;
  font-family: poppinslight;
  margin-top: 50px;
  color: white;
  line-height: 45px;
  margin-left: 30px;
  font-size:30px;
}

.direcao{
  margin-top: 100px;
  margin-left: 50px;

}

button{
  margin: 5px;
  margin-top: 10px;
  width: 200px;
  margin-left: 30px;
}

.registre{
  margin-top: 25px;
  font-size:20px;
  width: 400px;
}

h1{
  text-align: center;
  font-size: 60px;
  margin-top: 50px;
  margin-bottom:100px;
  font-family: poppinslight;
  font-weight: bold;

}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #a3a5ae;
  font-size: 16px;
}

.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
}

.blue {
  border-left: 3px solid #4895ff;
}

.green {
  border-left: 3px solid #3bb54a;
}

.red {
  border-left: 3px solid #b3404a;
}


