<body class="principal">
  <div class="content">
    <app-barra-acessibilidade></app-barra-acessibilidade>
    <header>
      <img class="logo-img" src="assets/imagens/FatecFlix.png" alt="" />
      <div class="example-button-row">
        <button class="btn-entrar" mat-raised-button routerLink="/home/login">Entrar</button>
      </div>
    </header>
    <main>
      <aside>
        <h2 id="titulo1">A melhor plataforma de cursos online!</h2>
        <div class="check-linha">
          <img class="check-img" src="assets/imagens/check.png">
          <p id="titulo2">Maratone seus conteúdos favoritos!</p>
        </div>
      <div class="check-linha">
        <img class="check-img" src="assets/imagens/check.png">
        <p id="titulo2">Revise antes de realizar uma prova!</p>
      </div>
      <div class="check-linha">
        <img class="check-img" src="assets/imagens/check.png">
        <p id="titulo2">Fixe os conteúdos com exercícios!</p>
      </div>
        <button class="btn-registre" (click)="gotoRegistrar()" mat-raised-button>Registre-se</button>
      </aside>
      <article>
        <div class="size">
          <img src="assets/imagens/Certification-cuate.svg" />
        </div>
      </article>
    </main>
    <img src="assets/imagens/wave (5).svg" id="wave" />
    <div class="secao2">
      <article>
        <div class="size2">
          <img src="assets/imagens/Thesis-pana.svg" />
        </div>
      </article>
      <aside>
        <h2 id="titulo3">Aprenda de qualquer lugar!</h2>
      </aside>
    </div>
    <div class="secao3">
      <h1>Comece sua jornada aqui</h1>
      <div class="row">
        <div class="card card-color">
          <h2>Cadastre-se</h2>
          <p>Cadastre-se na plataforma para conhecer os nossos cursos</p>
          <img
            class="image"
            src="assets/imagens/inscrever-se.png"
            alt="money"
          />
        </div>
        <div class="card card-color">
          <h2>Inicie seus estudos</h2>
          <p>
            Após o cadastro você poderá escolher um curso para inciar os estudos
          </p>
          <img
            class="image"
            src="assets/imagens/desktop-computer.png"
            alt="settings"
          />
        </div>
        <div class="card card-color">
          <h2>Conquiste certificados</h2>
          <p>
            Após a conclusão do curso escolhido você poderá receber seu
            certificado!
          </p>
          <img
            class="image"
            src="assets/imagens/certificate.png"
            alt="article"
          />
        </div>
      </div>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</body>
