.titulo {
  color: var(--primary-text-color);
  text-align: center;
}
.titulo h1 {
  font-size: 2em;
}

button {
  font-size: 1em;
  background-color: var(--btn-background-color3);
  color: var(--secondary-text-color);
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.example-card {
  max-width: 395px;
  height: 350px;
  margin: 1em;
  background-color: var(-login-card-background);
}

.cards {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.cards mat-card {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 6px var(--card-box-shadow);
}

/*Sticky footer*/
html,
body {
  height: 100%;
}

.main {
  min-height: 72vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.rodape {
  flex-shrink: 0;
  margin-top: 2em;
  background-color: unset;
  background: var(--gradient-background-1);
      background: linear-gradient(
        135deg,
        var(--gradient-background-2) 51%,
        var(--gradient-background-3) 91%,
        var(--gradient-background-4) 100%
      );
}


/*Media Queries*/
@media (max-width: 676px) {
  .titulo h1 {
    padding-top: 1em;
    color: var(--secondary-text-color);
  }

  .wrapper {
    background-color: unset;
  background: var(--gradient-background-1);
      background: linear-gradient(
        135deg,
        var(--gradient-background-2) 51%,
        var(--gradient-background-3) 91%,
        var(--gradient-background-4) 100%
      );

  }
  .cards mat-card{
    flex-direction: column;
    width: 80vw;
  }

  .example-card {
    min-width: 80vw;
    min-height: 55vh;
    margin: .8rem 0;
    background-color: var(-login-card-background);
  }

  mat-card-actions button, .btn_matricular, .btn_atualizar{
    margin: 0 !important;
    width: 100px;
    height: 40px;
  }
  mat-card-actions {
    display: flex;
    width: 60vw;
    height: 20vh;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 1045px) {
}
