.example-container {
    height: 80vh;
    background: #eee;
  }

  mat-sidenav{
      width: 10vw;
  }

  li{
    padding-top: 2em;
    list-style: none;
  }

 mat-card {
  margin: 0.8em;
  height: 21vh;
 }

 mat-card:first-child {
  margin-top: 0;
 }
