<app-navbar></app-navbar>
<form class="cadastro" (ngSubmit)="cadastra()" #cadastroForm="ngForm">
  <mat-card class="container card">
      <p>Cadastro</p>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          placeholder="aluno@fatec.sp.gov.br"
          name="email"
          [(ngModel)]="usuario.email"
          required
          #campoEmail="ngModel"
         >
      </mat-form-field>
      <app-messages
      *ngIf="campoEmail.invalid && campoEmail.touched"
        mensagem="O campo e-mail é obrigatório."
        ></app-messages>
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input
        matInput
        type="text"
        placeholder="000.000.000-00"
        name="cpf"
        [(ngModel)]="usuario.cpf"
        required
        #campoCpf="ngModel"
        >
      </mat-form-field>
      <app-messages
          *ngIf="campoCpf.invalid && campoCpf.touched"
           mensagem="O campo CPF é obrigatório."
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          placeholder="Nome Sobrenome"
          name="nome"
          [(ngModel)]="usuario.nome"
          #campoNome="ngModel"
          required
        >
      </mat-form-field>
      <app-messages
          *ngIf="campoNome.invalid && campoNome.touched"
           mensagem="O campo nome é obrigatório."
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input
          matInput
          type="date"
          placeholder="00/00/0000"
          name="dataNascimento"
          [(ngModel)]="usuario.dataNascimento"
          #campoDataNascimento="ngModel"
          required
        >
      </mat-form-field>
      <app-messages
          *ngIf="campoDataNascimento.invalid && campoDataNascimento.touched"
           mensagem="O campo Data de Nascimento é obrigatório."
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>RA</mat-label>
        <input
          matInput
          name="ra"
          [(ngModel)]="usuario.ra"
          #campoRa="ngModel"
          required
        >
      </mat-form-field>
      <app-messages
          *ngIf="campoRa.invalid && campoRa.touched"
           mensagem="O campo RA é obrigatório."
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Curso</mat-label>
        <input
          matInput
          type="text"
          name="curso"
          [(ngModel)]="usuario.curso"
          #campoCurso="ngModel"
          required
        >
      </mat-form-field>
      <app-messages
          *ngIf="campoCurso.invalid && campoCurso.touched"
           mensagem="O campo curso é obrigatório."
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Ano de ingresso</mat-label>
        <input
        matInput
        type="text"
        name="anoIngresso"
        [(ngModel)]="usuario.anoIngresso"
        #campoAnoIngresso="ngModel"
        required
        >
      </mat-form-field>
      <app-messages
          *ngIf="campoAnoIngresso.invalid && campoAnoIngresso.touched"
           mensagem="O campo ano de ingresso é obrigatório."
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Semestre de Ingresso</mat-label>
        <mat-select
        name="semestreIngresso"
        [(ngModel)]="usuario.semestreIngresso"
        #campoSemestreIngresso="ngModel"
        required
        >
            <mat-option value="1">1º</mat-option>
            <mat-option value="2">2º</mat-option>
        </mat-select>
      </mat-form-field>
      <app-messages
          *ngIf="campoSemestreIngresso.invalid && campoSemestreIngresso.touched"
           mensagem="O campo semestre de ingresso é obrigatório."
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Período</mat-label>
        <mat-select
        name="periodo"
        [(ngModel)]="usuario.periodo"
        #campoPeriodo="ngModel"
        required
        >
            <mat-option value="Manhã">Manhã</mat-option>
            <mat-option value="Tarde">Tarde</mat-option>
            <mat-option value="Noite">Noite</mat-option>
        </mat-select>
      </mat-form-field>
      <app-messages
          *ngIf="campoPeriodo.invalid && campoPeriodo.touched"
           mensagem="O campo período é obrigatório."
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input
        matInput
        type="password"
        name="senha"
        [(ngModel)]="usuario.senha"
        #campoSenha="ngModel"
        required
        >
      </mat-form-field>
      <app-messages
          *ngIf="campoSenha.invalid && campoSenha.touched"
           mensagem="O campo senha é obrigatório."
        >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Confirmação de senha</mat-label>
        <input
        matInput
        type="password"
        name="confirmacao"
        [(ngModel)]="usuario.confimacao"
        #campoConfirmacao="ngModel"
        required
        >
      </mat-form-field>
      <app-messages
          *ngIf="campoConfirmacao.invalid && campoConfirmacao.touched"
           mensagem="O campo confirmação de senha é obrigatório."
        >
      </app-messages>
      <button
      mat-flat-button
      type="submit"
      [disabled]="cadastroForm.invalid"
      >CADASTRAR</button>
      <p><a routerLink="/home/login">Já é usuário? Faça login!</a></p>
  </mat-card>
</form>
