<app-navbar></app-navbar>
<section class="cadastro">
  <mat-card class="container card">
      <p>Cadastro</p>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="aluno@fatec.sp.gov.br">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input type="text" matInput placeholder="000.000.000-00">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Nome Sobrenome">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input type="date" matInput placeholder="00/00/0000">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>RA</mat-label>
        <input type="number" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Curso</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ano de ingresso</mat-label>
        <input type="number" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Semestre de Ingresso</mat-label>
        <mat-select>
            <mat-option value="1">1º</mat-option>
            <mat-option value="2">2º</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Período</mat-label>
        <mat-select>
            <mat-option value="Manhã">Manhã</mat-option>
            <mat-option value="Tarde">Tarde</mat-option>
            <mat-option value="Noite">Noite</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" matInput #senha>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmação de senha</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <button type="submit" mat-flat-button>CADASTRAR</button>
  </mat-card>
</section>
