<div class="super-container">
  <h2 class="titulo">{{ categoriaExibicao }}</h2>
  <div class="container">
    <div class="card" *ngFor="let curso of cursos | async">
      <mat-card
        class="example-card"
        *ngIf="curso.categoria == categoriaExibicao"
        (click)="detalhar(curso.cursoId)"
        style=" background-image: url(../../../../../assets/imagens/imgcursos/{{curso.cursoId}}.png);background-size: 100% 100%; background-repeat: no-repeat; "
      >
        <mat-card-title ><span class="card_titulo">{{ curso.titulo }}</span></mat-card-title>
      </mat-card>
    </div>
  </div>
</div>
