
.example-card {
  width: 18vw;
  max-width: 260px;
  min-width: 260px;
  height: 25vh;
  max-height: 200px;
  margin-bottom: 10em;
  margin-left: 25px;
  -webkit-box-reflect: below 5px
	linear-gradient(transparent, transparent, var(--box-reflect-gradient));
  -webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  box-shadow: 5px 5px 15px var(--border-neon);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.card {
  padding-top: 1em;
  height: 36vh;
  max-height: 310px;
  /* background-color: aqua; */
}

.example-card:hover{
  -webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.container {
  /* background-color: greenyellow; */
  display:flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 2em;
}

.super-container{
  /* background-color: coral; */
  display: flex;
  flex-direction: column;
}


.titulo{
  color: var(--secondary-text-color);
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 2em;
}

mat-card-content{
  overflow-y: hidden;
  text-align: justify;
  height: 12vh;
}

mat-card-title {
  font-size: 1.3em;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* -webkit-border-radius: 10px;**/
  border-radius: 6px;
  height: 4px;
  background: rgba(233, 233, 233, 0.349);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  /* border: 1px solid white; */
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(122, 67, 67, 0.5);
}

/*
https://css-tricks.com/examples/WebKitScrollbars/
https://pt.stackoverflow.com/questions/68928/como-estilizar-a-barra-de-rolagem
*/

/*Media Queries*/

@media (max-width: 676px) {
  .example-card {
    max-width: 80vw;
    min-width: 180px;
    height: 280px;
    margin-left: 10vw;
  }
  .example-card:first-child {
    margin-left:25px;
  }
  .container {
    display:flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .example-card:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  mat-card-content{
    overflow-y: hidden;
    text-align: justify;
    min-height: 104px;
    max-height: 104px;
  }
  mat-card-title {
    height: 36px;
  }
}

@media (max-width: 1024px) {
  mat-card-content{
    overflow-y: hidden;
    text-align: justify;
    min-height: 104px;
    max-height: 104px;
  }
  mat-card-title {
    height: 36px;
  }
}


