<div id="conteudo" class="login">
  <mat-card class="card">
    <section class="card__banner">
      <h2>Faça seu login e boa aula!</h2>
      <div class="imagem"><br /></div>
    </section>
    <section class="card__form">
      <h1>Login</h1>
      <div class="container">
        <form (ngSubmit)="login()" #loginForm="ngForm">
          <mat-form-field appearance="outline" class="formfield__senha" hideRequiredMarker>
            <mat-label>E-mail</mat-label>
            <input class="input" matInput type="email" [(ngModel)]="email" name="email" #campoEmail="ngModel"
              required />

            <mat-error *ngIf="campoEmail.invalid && campoEmail.touched">O campo e-mail é obrigatório.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="formfield__senha" appearance="outline" hideRequiredMarker>
            <mat-label>Senha</mat-label>
            <input class="input" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="senha" name="senha"
              #campoSenha="ngModel" required />
            <button type="button" class="btn__senha" mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{
                hide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
            <mat-error *ngIf="campoSenha.invalid && campoSenha.touched">O campo senha é obrigatório.
            </mat-error>
          </mat-form-field>

          <button class="btn__submit" type="submit" mat-flat-button [disabled]="loginForm.invalid">
            ENTRAR
          </button>
        </form>
      </div>
      <p>
        <a [routerLink]="['/home/cadastro']">Ainda nâo tem acesso? Cadastre-se! </a>
      </p>
      <div class="teste">
        <div class="teste__botoes">
          <button mat-flat-button (click)="openDialog()">
            <mat-icon> vpn_key</mat-icon>
            Teste sem logar
          </button>
        </div>
      </div>
    </section>
  </mat-card>
</div>
