.container {
  min-height: 80vh;
  background-color: transparent;
}

mat-sidenav{
  border-radius: 0 12px 12px 0;
  width: 8%;
  min-height: 80vh;
}


.sidenav-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.content-dados{
  min-width: 40%;
  margin: 0.8em;
  margin-top: 0;
}

.content-historico{
  margin-left: 0.8em;
  min-width: 40%;

}




/*Sticky footer*/
.wrapper{
  display: flex;
  flex-direction: column;
  height: auto;
  background: rgb(66, 16, 11);
  background: linear-gradient(
    135deg,
    rgba(66, 16, 11, 1) 51%,
    rgba(0, 0, 0, 1) 91%,
    rgba(0, 0, 0, 1) 100%
  );
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.icone-sair{
  margin-left: 10px;
}
