h1 {
  text-align: center;
  color: var(--error-text-color);
  font-weight: bold;
}

p {
  text-align: left;
 }

 .botoes, .dialog-actions {
  display: flex;
  justify-content: center;
 }

 .botoes{
  margin-top: 8px;
 }

.icone-aluno {
  color: var(--cor-icone-aluno);
 }

 .icone-instrutor {
  color: var(--cor-icone-instrutor);
 }
