html, body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: var(--primary-background-color)
}
.content {
  flex: 1 0 auto;
  min-height: 80vh;
}
.footer {
  flex-shrink: 0;
  box-shadow: 5px -5px 15px var(--border-neon);
  background: var(--gradient-background-1);
      background: linear-gradient(
        135deg,
        var(--gradient-background-2) 51%,
        var(--gradient-background-3) 91%,
        var(--gradient-background-4) 100%
      );
}

main {
  margin-top: 12px;
}


@media (max-width: 676px) {
  .wrapper {
    width: 100vw;
    height: auto;
    background: var(--gradient-background-1);
      background: linear-gradient(
        135deg,
        var(--gradient-background-2) 51%,
        var(--gradient-background-3) 91%,
        var(--gradient-background-4) 100%
      );
  }
  .content {
    height: auto;
    padding: 0;
  }

}
