.titulo {
  color: var(--primary-text-color);
  text-align: center;
}
.titulo h1 {
  font-size: 2em;
}

button {
  font-size: 11px;
  background-color: var(--btn-background-color3);
  color: var(--secondary-text-color);
  width: 5vw;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.example-card {
  max-width: 430px;
  height: 385px;
  margin: 1em;
  background-color: var(-login-card-background);
}

.cards {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.cards mat-card {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 6px var(--card-box-shadow);
}

.container {
  overflow-y: hidden;
  text-align: justify;
  height: 46vh;
}

/*Sticky footer*/
html,
body {
  height: 100%;
}

.main {
  min-height: 72vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.rodape {
  flex-shrink: 0;
  margin-top: 2em;
  background-color: unset;
  background: var(--gradient-background-1);
      background: linear-gradient(
        135deg,
        var(--gradient-background-2) 51%,
        var(--gradient-background-3) 91%,
        var(--gradient-background-4) 100%
      );
}


/*Media Queries*/
@media (max-width: 676px) {
  .titulo h1 {
    padding-top: 1em;
    color: var(--secondary-text-color);
  }

  .wrapper {
    background-color: unset;
  background: var(--gradient-background-1);
      background: linear-gradient(
        135deg,
        var(--gradient-background-2) 51%,
        var(--gradient-background-3) 91%,
        var(--gradient-background-4) 100%
      );

  }
  .cards mat-card{
    flex-direction: column;
    width: 80vw;
  }

  .example-card {
    min-width: 80vw;
    min-height: 55vh;
    margin: .8rem 0;
    background-color: var(-login-card-background);
  }

  mat-card-actions button, .btn_matricular, .btn_atualizar{
    margin: 0 !important;
    width: 100px;
    height: 40px;
  }
  mat-card-actions {
    display: flex;
    width: 60vw;
    height: 20vh;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 1045px) {
}






/*
@media (max-width: 280px) {
  .cards {
    width: 100%;
    flex-direction: column;
    margin: 0;
    color: var(--primary-text-color);
  }
  .cards mat-card {
    width: 70%;
  }
  .example-card {
    max-width: unset;
    height: 250px;
    margin: 1em;
    background-color: var(--card-box-shadow);
  }

  button {
    font-size: 0.25em;
    background-color: var(--btn-background-color3);
    color: var(--secondary-text-color);
    width: 10px;
    height: 20px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 412px) {
  .cards {
    width: 40%;
    flex-direction: column;
    margin: 0;
    color: var(--primary-text-color);
  }
  .cards mat-card {
    width: 40%;
  }
  .example-card {
    max-width: unset;
    height: 250px;
    margin: 1em;
    background-color: var(--card-box-shadow);
  }

  button {
    font-size: 0.25em;
    background-color: var(--btn-background-color3);
    color: var(--secondary-text-color);
    width: 10px;
    height: 20px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {
  .cards {
    width: 90%;
    flex-direction: column;
    margin: 0;
  }
  .cards mat-card {
    width: 90%;
  }
  .example-card {
    max-width: unset;
    height: 350px;
    margin: 1em;
    background-color: var(--card-box-shadow);
  }

  button {
    font-size: 0.55em;
    background-color: var(--btn-background-color3);
    color: var(--secondary-text-color);
    width: 20px;
    height: 30px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 820px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90%;
  }

  .cards {
    width: 70%;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
  }
  .cards mat-card {
    width: 70%;
    justify-content: center;
  }
  .example-card {
    max-width: unset;
    height: 250px;
    margin: 10px;
    background-color: var(--card-box-shadow);
  }

  button {
    font-size: 0.45em;
    background-color: var(--btn-background-color3);
    color: var(--secondary-text-color);
    width: 20px;
    height: 30px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 912px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .cards {
    width: 100%;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
  }
  .cards mat-card {
    width: 100%;
    justify-content: center;
  }
  .example-card {
    max-width: unset;
    height: 250px;
    margin: 10px;
    background-color: var(--card-box-shadow);
  }

  button {
    font-size: 0.45em;
    background-color: var(--btn-background-color3);
    color: var(--secondary-text-color);
    width: 20px;
    height: 30px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .cards {
    width: 100%;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
  }
  .cards mat-card {
    width: 100%;
    justify-content: center;
  }
  .example-card {
    max-width: unset;
    height: 250px;
    margin: 10px;
    background-color: var(--card-box-shadow);
  }

  button {
    font-size: 0.45em;
    background-color: var(--btn-background-color3);
    color: var(--secondary-text-color);
    width: 20px;
    height: 30px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .cards {
    width: 100%;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
  }
  .cards mat-card {
    width: 100%;
    justify-content: center;
  }
  .example-card {
    max-width: unset;
    height: 250px;
    margin: 10px;
    background-color: var(--card-box-shadow);
  }

  button {
    font-size: 0.45em;
    background-color: var(--btn-background-color3);
    color: var(--secondary-text-color);
    width: 20px;
    height: 30px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
} */
