.container{
  display: flex;
  flex-direction: column;
}

.wrapper mat-card{
  margin: auto;
  max-width: 700px;
  box-shadow: 5px 5px 15px #ff0534;
  margin-top: 4em;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: rgb(66, 16, 11);
  background: linear-gradient(
    135deg,
    rgba(66, 16, 11, 1) 51%,
    rgba(0, 0, 0, 1) 91%,
    rgba(0, 0, 0, 1) 100%
  );
}


.content {
  flex: 1 0 auto;

}
.footer {
  flex-shrink: 0;
}
