.example-card {
  width: 100%;
  height: 100%;
  margin-bottom: 4px;
  box-shadow: none;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-content{
  padding-top: 2em;
  width: 100%;
  text-align: justify;
}

.card-video{
  display:flex;
  justify-content: center;
}

.mat-card-actions{
  display: flex;
  justify-content: space-between;
}

/*Media Queries*/
@media (max-width: 676px) {
  .example-card {
    width: 82vw;
    margin: auto;
    margin-top: 1rem
  }

  mat-card-content{
    padding: 0;
  }
}

@media (max-width: 768px) {
}
