<mat-toolbar class="toolbar">
  <div class="container">
    <button mat-flat-button routerLink="/home">Fatecflix</button>
    <!--
    <img class="logoHeader" src="./img/logoFatecFlix.png" alt="Logo da Alura">
    -->
  </div>
    <div class="container usuario" *ngIf="!isLoggedIn; else admin">
      <button mat-flat-button>Cursos</button>
      <button mat-flat-button routerLink="/home/login" >Login</button>
      
    </div>
    <div class="container usuario">
      <button class="btn__matricula" routerLink="/usuario/cadastro" mat-flat-button>Matricule-se</button>
    </div>

    <ng-template #admin>
      <app-admin></app-admin>
    </ng-template>
</mat-toolbar>
