.container {
  display: flex;
  font-size: 0.6em;
}

.toolbar{
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin-bottom: 1em;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 1px 8px var(--primary-color);
  padding: 0 6vw 0 6vw;
}

.btn__matricula{
  display: none;
}

.logo button {
  padding: 0;
}

.logo-img{
  width: 20vw;
}

button{
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.5em;
}


/*Media Queries*/
@media (max-width: 676px) {

.logo button{
  background-color: #fefefe;
  width: 70%;
}
  .logo-img {
    width: 100%;
  }
  .toolbar{
    background-color: transparent;
  }
  .btn__login{
    display: none;
  }
  button{
    background-color: transparent;
    color: #fefefe;
    font-size: 1.5em;
  }
  .btn__matricula{
    font-size: 1.8em;
    display: unset;
    border: 2px solid #ff0534;
    border-radius: 16px;
  }
}

@media (max-width: 768px) {
 .logoHeader {
    width: 170px;
  }
}
.active{
  display: none;
}
