<app-barra-acessibilidade></app-barra-acessibilidade>
<mat-toolbar class="toolbar" id="header">
  <div class="container logo">
    <button mat-flat-button routerLink="/home">
      <img class="logo-img" src="assets/imagens/FatecFlix.png" alt="" />
    </button>
  </div>
  <div class="container usuario" *ngIf="!isLoggedIn; else admin">
    <button
      class="btn__login"
      mat-flat-button
      routerLink="/home/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Login
    </button>
  </div>

  <ng-template #admin>
    <app-admin></app-admin>
  </ng-template>
</mat-toolbar>
