<app-header></app-header>
<form class="cadastro" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <mat-card class="container card">
      <p>Cadastro</p>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          placeholder="aluno@fatec.sp.gov.br"
          name="email"
          formControlName="email"
         >
      </mat-form-field>
      <app-messages
        *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] &&
          novoUsuarioForm.get('email')?.touched"
        mensagem = "O campo e-mail é obrigatório."
      >
      </app-messages>
      <app-messages
        *ngIf="
          novoUsuarioForm.get('email')?.errors?.['email'] &&
          novoUsuarioForm.get('email')?.touched"
        mensagem="O e-mail informado não é válido.">
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input
        matInput
        type="text"
        placeholder="000.000.000-00"
        name="cpf"
        formControlName="cpf"
        >
      </mat-form-field>
      <app-messages
        *ngIf="novoUsuarioForm.get('cpf')?.errors?.['required'] &&
          novoUsuarioForm.get('cpf')?.touched"
        mensagem = "O campo CPF é obrigatório."
      >
      </app-messages>
      <app-messages
      *ngIf="novoUsuarioForm.errors?.['cpfInvalido'] &&
      novoUsuarioForm.get('cpf')?.dirty"
      mensagem="O CPF digitado não é válido."
    ></app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          placeholder="Nome Sobrenome"
          name="nome"
          formControlName="name"
        >
      </mat-form-field>
      <app-messages
        *ngIf="novoUsuarioForm.get('name')?.errors?.['required'] &&
          novoUsuarioForm.get('name')?.touched"
        mensagem = "O campo nome é obrigatório."
      >
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input
          matInput
          type="date"
          placeholder="00/00/0000"
          name="dataNascimento"
          formControlName="dtNascimento"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>RA</mat-label>
        <input
          matInput
          name="ra"
          formControlName="ra"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Curso</mat-label>
        <input
          matInput
          type="text"
          name="curso"
          formControlName="cursoMatriculado"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ano de ingresso</mat-label>
        <input
        matInput
        type="text"
        name="anoIngresso"
        formControlName="anoIngresso"
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Período</mat-label>
        <mat-select
        name="periodo"
        formControlName="periodo"
        >
            <mat-option value="Manhã">Manhã</mat-option>
            <mat-option value="Tarde">Tarde</mat-option>
            <mat-option value="Noite">Noite</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input
        matInput
        type="password"
        name="senha"
        formControlName="password"
        >
      </mat-form-field>
      <app-messages
      *ngIf="novoUsuarioForm.get('password')?.errors?.['required'] &&
        novoUsuarioForm.get('password')?.touched"
      mensagem = "O campo senha é obrigatório."
    >
    </app-messages>
    <app-messages
    *ngIf="novoUsuarioForm.errors?.['matchValues'] &&
    novoUsuarioForm.get('password')?.dirty"
    mensagem="A senha não pode ser igual ao email, cpf ou data de nascimento."
  ></app-messages>
  <app-messages
  *ngIf="novoUsuarioForm.get('password')?.errors?.['minlength'] &&
    novoUsuarioForm.get('password')?.touched"
  mensagem = "A senha deve possuir ao mínimo 8 digitos."
>
</app-messages>
      <mat-form-field appearance="fill">
        <mat-label>Confirmação de senha</mat-label>
        <input
        matInput
        type="password"
        name="confirmacao"
        formControlName="confirmacao"
        >
      </mat-form-field>
      <app-messages
      *ngIf="novoUsuarioForm.get('confirmacao')?.errors?.['required'] &&
        novoUsuarioForm.get('confirmacao')?.touched"
      mensagem = "O campo confirmação de senha é obrigatório."
    >
    </app-messages>
      <app-messages
        *ngIf="novoUsuarioForm.errors?.['valuesDoNotMatch'] &&
        novoUsuarioForm.get('confirmacao')?.touched"
        mensagem="As senhas informadas não são iguais."
      ></app-messages>
      <button
      [disabled]="novoUsuarioForm.invalid"
      mat-flat-button
      >CADASTRAR</button>
      <p><a routerLink="/home/login">Já é usuário? Faça login!</a></p>
  </mat-card>
</form>

<app-footer></app-footer>
