.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 80%;
  margin: auto;
}

button {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  margin: 1em;
}

app-messages {
  color: var(--error-text-color);
  padding: 0 0 0 0;
  margin: 0;
  border: 0;
}

mat-form-field {
  margin-top: 0.9em;
  height: 65px;
  padding: 0;
  border: 0;
}

.titulo {
  height: 2em;
  border-radius: 6px;
  padding: 1em;
}

.titulo p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-weight: 300;
}
.link {
  text-align: center;
}
.link a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}
.btn__cadastrar {
  margin: 1em 0;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  color: var(--secondary-text-color);
}

/*Sticky footer*/

.super-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  padding-bottom: 4vh;
}
.footer {
  flex-shrink: 0;
  background: var(--gradient-background-1);
  background: linear-gradient(
    135deg,
    var(--gradient-background-2) 51%,
    var(--gradient-background-3) 91%,
    var(--gradient-background-4) 100%
  );
}

@media screen and (max-width: 1045px) {
  .super-container {
    background-color: var(--primary-background-color);
  }
  .card {
    width: 70%;
    border-color: var(--login-card-background);
  }
}

@media screen and (min-width: 720px) {
  .super-container {
    background-color: var(--primary-background-color);
  }
  .card {
    width: 40%;
    border-color: var(--login-card-background);
  }
}

@media (max-width: 500px) {
  .super-container {
    background: var(--gradient-background-1);
    background: linear-gradient(
      135deg,
      var(--gradient-background-2) 51%,
      var(--gradient-background-3) 91%,
      var(--gradient-background-4) 100%
    );
  }

  app-header {
    display: none;
  }

  .titulo p {
    color: var(--secondary-text-color);
  }

  .link {
    text-align: center;
  }
  .link a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
  }
  .btn__cadastrar {
    margin: 1em 0;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    color: var(--secondary-text-color);
  }
}
