/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #8C1A0F;
  --primary-text-color: black;
  --secondary-text-color: #fefefe;
  --header-text-color: #8C1A0F;
  --footer-text-color: #fefefe;
  --error-text-color: #ff0534;
  --right-answer-color: green;
  --link-primary-color: #8C1A0F;

  --primary-background-color: #fefefe;
  --secondary-background-color: #fefefe;
  --header-background-color: #fefefe;
  --header-background-color2: #f1f1ed;
  --footer-background: #4C0E08;
  --landingpage-background-color: #101213;
  --cadastrar-curso-background: #D8DEE7;
  --login-card-background: #f5f5f5;
  --text-darkred-background: rgba(66, 16, 11, 0.685);

  --border-neon: #ff0534;

  --gradient-background-1: rgb(66, 16, 11);
  --gradient-background-2: rgba(66, 16, 11, 1);
  --gradient-background-3: rgba(0, 0, 0, 1);
  --gradient-background-4: rgba(0, 0, 0, 1);

  --btn-background-color: #AC1305;
  --btn-background-color2: #3E850C;
  --btn-background-color3: rgb(136, 30, 21);
  --btn-background-color4: rgba(12, 11, 11, 0.527);
  --login-mobile-btn: rgba(207, 200, 200, 0.795);

  --perfil-input-border: #d0d7de;
  --perfil-input-background: #f6f8fa;

  --landingpage-box-shadow: rgba(50, 50, 50, 0.22);
  --cadastrar-curso-box-shadow: rgb(153, 92, 92);
  --card-box-shadow: rgb(136, 30, 21);
  --card-box-shadow2: #3d3c3d;
  --box-reflect-gradient: rgba(0, 0, 0, 0.151);

  /*Fazer o contraste*/

  /* detalhar curso*/
  --detalhar-curso-background: #8C0E03;
  --detalhar-curso-background2: #F2F2F2;
  --detalhar-curso-background3: white;

  --detalhar-curso-text-highlight: #8C0E03;
  /* aula*/
  --aula-background1: #8C0E03;
  /*Login dialog*/
  --cor-icone-aluno: blue;
  --cor-icone-instrutor: red;

  /*Texto*/
  --transparencia1:rgba(255,255,255,0.3);



}

:root .contraste{
  --primary-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
  --header-text-color: black;
  --footer-text-color: black;

  /*Background*/
  --primary-background-color: black;
  --secondary-background-color: black;
  --header-background-color: black;
  --header-background-color2: black;
  --footer-background: black;
  --landingpage-background-color: black;
  --cadastrar-curso-background: black;
  --login-card-background: black;
  --text-darkred-background: black;
  --detalhar-curso-background: black;
  --detalhar-curso-background2: black;
  --detalhar-curso-background3: grey;
  --detalhar-curso-text-highlight: black

  --landingpage-box-shadow: black;
  --cadastrar-curso-box-shadow: black;
  --card-box-shadow: black;
  --card-box-shadow2: black;
  --box-reflect-gradient: black;
  --gradient-background-1: black;
  --gradient-background-2: black;
  --gradient-background-3: black;
  --gradient-background-4: black;

  --border-neon: white;

  /*Texto*/
  --primary-text-color: white;
  --secondary-text-color: white;
  --header-text-color: white;
  --footer-text-color: white;
  --error-text-color: white;
  --right-answer-color: white;
  --link-primary-color: yellow;
}

:root .contraste .banner {
  filter: invert();
}

:root .contraste .img {
  filter: invert();
}

:root .contraste .imagem {
  filter: invert();
}

:root .contraste .check-img {
  filter: invert();
}

:root .contraste #media-img  {
  filter: invert();
}

:root .contraste img {
  filter: invert();
}

:root .contraste a {
  color: yellow;
}

:root .contraste table,
:root .contraste th,
:root .contraste td{
  border: 1px solid white;
  background-color: black;
  color: white;
  padding-left: 3px;
}

:root .contraste table{
  padding-left: 0;
}

:root .contraste table button{
  border: 1px solid white;
  color: yellow;
  margin-left: 3px;
}

:root .contraste mat-label,
:root .contraste label,
:root .contraste placeholder{
  color: white;
}

:root .contraste input{
  background-color: white;
  color: black;
  border-radius: 4px;
  line-height: 3rem;
  padding-left: 6px;
}

:root .contraste button{
  color: yellow;
  background-color: black;
}

:root .contraste .mat-focus-indicator,
:root .contraste .mat-menu-item:hover{
  background-color: black;
}

:root .contraste button:disabled,
:root .contraste button[disabled]{
  color: white;
}

:root .contraste mat-card button{
  border: 1px solid white;
}

:root .contraste .categoria button{
  border: 1px solid white;
  color: yellow !important;
}

:root .contraste mat-stroked-button button{
  border: 1px solid white;
}


:root .contraste mat-icon{
  color: white;
}

:root .contraste mat-card{
  background-color: black;
  color: white;
  border: 1px solid white;
}

:root .contraste .mat-step-header .mat-step-label.mat-step-label-active .mat-step-header .mat-step-label, .mat-step-header .mat-step-optional{
  color: white !important;
}

:root .contraste .cadastrarForm input{
  background-color: black;
  color: white;
}

:root .contraste .cadastrarForm textarea{
  background-color: black;
}

:root .contraste .cadastrarForm mat-label{
  color: white;
}

:root .contraste .cadastrarForm .mat-form-field-appearance-outline .mat-form-field-outline{
  color: white;
}

:root .contraste .cadastro .mat-form-field-appearance-outline .mat-form-field-outline{
  color: white;
}

:root .contraste .cadastro input{
  background-color: black;
  color: white;
}
:root .contraste .date {
  background-color: black;
  color: white;
}

:root .contraste .date .mat-calendar-body-today{
  background-color: black;
  color: white;
}
:root .contraste .date .mat-calendar-content th,
:root .contraste .date .mat-calendar-content,
:root .contraste .date .mat-calendar-body-label,
:root .contraste .date .mat-calendar-body-cell-content{
  color: white !important;
}

:root .contraste .content{
  background-color: black;
}

:root .contraste .wrapper{
  background-color: black;
}

:root .contraste .footer{
  background-color: black;
}

:root .contraste .esquerda .mat-expanded,
:root .contraste .esquerda .mat-expansion-panel-header-title,
:root .contraste .esquerda .mat-expansion-panel-header,
:root .contraste .esquerda .mat-accordion,
:root .contraste .esquerda .mat-expansion-panel,
:root .contraste .aulas .mat-expanded,
:root .contraste .aulas .mat-expansion-panel-header-title,
:root .contraste .aulas .mat-expansion-panel-header,
:root .contraste .aulas .mat-accordion,
:root .contraste .aulas .mat-expansion-panel
{
  background-color: black !important;
  color: white !important;
}

body {
  font-size: 16px;
}

.example-card {
  font-size: 16px;
}

.card {
  font-size: 16px;
}

.content {
  font-size: 16px;
}

.developed {
  font-size: 16px;
}

:root .contraste #btn__senha-visibilidade {
  display: none;
}

html, body { height: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width: 500px) {
  .background{
    background: var(--gradient-background-1);
      background: linear-gradient(
        135deg,
        var(--gradient-background-2) 51%,
        var(--gradient-background-3) 91%,
        var(--gradient-background-4) 100%
      );
  }

}



