/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #8C1A0F;
  --primary-text-color: black;
  --secondary-text-color: #fefefe;
  --primary-background-color: #fefefe;
  --header-background-color: #fefefe;
  --header-text-color: #8C1A0F;
  --footer-background: #4C0E08;
  --footer-text-color: #fefefe;
}

html, body { height: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media only screen and (max-width: 1045px) {}

@media screen and (max-width: 500px) {
  .background{
    background: rgb(66, 16, 11);
      background: linear-gradient(
        135deg,
        rgba(66, 16, 11, 1) 51%,
        rgba(0, 0, 0, 1) 91%,
        rgba(0, 0, 0, 1) 100%
      );
  }

}

