<app-navbar></app-navbar>
<form class="cadastro" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <mat-card class="container card">
      <p>Cadastro</p>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          placeholder="aluno@fatec.sp.gov.br"
          name="email"
          formControlName="email"
         >
      </mat-form-field>
      <app-messages
        *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] &&
          novoUsuarioForm.get('email')?.touched"
        mensagem = "Campo email é obrigatório"
      >
      </app-messages>
      <app-messages
        *ngIf="
          novoUsuarioForm.get('email')?.errors?.['email'] &&
          novoUsuarioForm.get('email')?.touched"
        mensagem="E-mail no formato incorreto">
      </app-messages>
      <app-messages
        *ngIf="novoUsuarioForm.errors?.['emailSenhaIguaisValidator']"
        mensagem="E-mail e senha não podem ser iguais">
      </app-messages>
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input
        matInput
        type="text"
        placeholder="000.000.000-00"
        name="cpf"
        formControlName="cpf"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          placeholder="Nome Sobrenome"
          name="nome"
          formControlName="nome"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input
          matInput
          type="date"
          placeholder="00/00/0000"
          name="dataNascimento"
          formControlName="dataNascimento"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>RA</mat-label>
        <input
          matInput
          name="ra"
          formControlName="ra"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Curso</mat-label>
        <input
          matInput
          type="text"
          name="curso"
          formControlName="curso"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ano de ingresso</mat-label>
        <input
        matInput
        type="text"
        name="anoIngresso"
        formControlName="anoIngresso"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Semestre de Ingresso</mat-label>
        <mat-select
        name="semestreIngresso"
        formControlName="semestreIngresso"
        >
            <mat-option value="1">1º</mat-option>
            <mat-option value="2">2º</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Período</mat-label>
        <mat-select
        name="periodo"
        formControlName="periodo"
        >
            <mat-option value="Manhã">Manhã</mat-option>
            <mat-option value="Tarde">Tarde</mat-option>
            <mat-option value="Noite">Noite</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input
        matInput
        type="password"
        name="senha"
        formControlName="senha"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmação de senha</mat-label>
        <input
        matInput
        type="password"
        name="confirmacao"
        formControlName="confirmacao"
        >
      </mat-form-field>
      <app-messages
        *ngIf="novoUsuarioForm.errors?.['senhaDiferenteConfirmacao']"
        mensagem="As senhas informadas não são iguais."
      ></app-messages>
      <button
      mat-flat-button
      >CADASTRAR</button>
      <p><a routerLink="/home/login">Já é usuário? Faça login!</a></p>
  </mat-card>
</form>
