th {
  color: var(--primary-text-color);
}

table{
  width: 87vw;
  margin: auto;
}


/*Media Queries*/
@media (max-width: 676px) {
  table{
    width: 87vw;
    margin: auto;
  }

}

@media (max-width: 1045px) {
  table{
    width: 100vw;
    margin: auto;
  }
}
