
.wrapper{
  display: flex;
  justify-content: space-between;
}

.video-comentario {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.container{
  overflow-y: hidden;
}

.aula{
  /* background-color: white; */
  width: 60%;
  display: flex;
  justify-content: center;
  height: auto;
  overflow-y: hidden
}

.lista{
  width: 40%;
  height: auto;
  /* background-color: grey; */
}
mat-card-subtitle{
  padding-top: 1em;
  color: var(--primary-text-color);
}

.content {
  flex: 1 0 auto;

}
.footer {
  flex-shrink: 0;
}

.lista mat-card {
  margin-bottom: 1em;
  margin-right: 1em;
  box-shadow: 3px 3px 6px var(--card-box-shadow2);
}

button{
  background-color: var(--btn-background-color3);
  color: var(--secondary-text-color);
}

.btn_titulo{
  text-transform: capitalize;
}

.btn_exercicios button{
  width: 98%;
  height: 50px;
  margin-bottom: .4em ;
}

.btn_video{
  background-color: var(--btn-background-color4);
  color: var(--secondary-text-color);
}
.video__mobile{
  display: none;
}


/*Media Queries*/
@media (max-width: 676px) {
  .wrapper{
    width: 100vw;
    flex-direction: column;
    justify-content: unset;
  }
  .video__mobile{
    display: unset;
  }
  .video__desktop{
    display: none;
  }
  .container{
    overflow-y: hidden;
  }

  .aula{
    width: 100%;
  }

  .lista{
    width: 94%;
    height: auto;
    margin: auto;
  }
  .lista mat-card {
    margin-bottom: 1em;
    margin-right: 0;
    box-shadow: 3px 3px 6px var(--border-neon);
  }
}

@media (max-width: 768px) {
  .wrapper{
    width: 90vw;
    flex-direction: column;
    justify-content: unset;
  }
  .video__mobile{
    display: unset;
  }
  .video__desktop{
    display: none;
  }
  .container{
    overflow-y: hidden;
  }

  .aula{
    width: 100%;
  }

  .lista{
    width: 74%;
    height: auto;
    margin: auto;
  }
  .lista mat-card {
    margin-bottom: 1em;
    margin-right: 0;
    box-shadow: 3px 3px 6px var(--border-neon);
  }
}
