<div  class="wrapper">
  <div class="content">
    <app-header id="header"></app-header>
    <mat-sidenav-container class="container" id="conteudo">
        <mat-sidenav mode="side" opened>
          <mat-action-list>
            <button mat-list-item >Dados Pessoais</button>
            <button mat-list-item >Matrículas</button>
            <button mat-list-item >Gestão de Cursos</button>
            <button mat-list-item >Sair<mat-icon class="icone-sair">logout</mat-icon></button>
          </mat-action-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
          <section class="content-dados">
            <div [hidden]="submitted" style="width: 400px;"></div>
            <app-dados-pessoais></app-dados-pessoais>
          </section>
          <section class="content-historico">
            <app-cursos-matriculados></app-cursos-matriculados>
          </section>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <app-footer id="footer" class="footer"></app-footer>
</div>


