<section class="lista_aulas">


<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Aula 01</mat-card-title>
    <mat-card-subtitle>Introdução</mat-card-subtitle>
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    {{longText}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>INICIAR</button>
    <button mat-fab aria-label="Example icon button with a heart icon">
      <mat-icon size="small">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Aula 02</mat-card-title>
    <mat-card-subtitle>Introdução</mat-card-subtitle>
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    {{longText}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>INICIAR</button>
    <button mat-fab aria-label="Example icon button with a heart icon">
      <mat-icon size="small">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Aula 03</mat-card-title>
    <mat-card-subtitle>Introdução</mat-card-subtitle>
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    {{longText}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>INICIAR</button>
    <button mat-fab aria-label="Example icon button with a heart icon">
      <mat-icon size="small">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Aula 04</mat-card-title>
    <mat-card-subtitle>Introdução</mat-card-subtitle>
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    {{longText}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>INICIAR</button>
    <button mat-fab aria-label="Example icon button with a heart icon">
      <mat-icon size="small">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Aula 05</mat-card-title>
    <mat-card-subtitle>Introdução</mat-card-subtitle>
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    {{longText}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>INICIAR</button>
    <button mat-fab aria-label="Example icon button with a heart icon">
      <mat-icon size="small">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

</section>
