
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;
  background: rgb(66, 16, 11);
  background: linear-gradient(
    135deg,
    rgba(66, 16, 11, 1) 51%,
    rgba(0, 0, 0, 1) 91%,
    rgba(0, 0, 0, 1) 100%
  );
}

.container{
  overflow-y: scroll;
}

.aula{
  /* background-color: white; */
  width: 60%;
  display: flex;
  justify-content: center;
  height: 80vh;
}

.lista{
  width: 40%;
  height: 80vh;
  /* background-color: grey; */
}

.content {
  flex: 1 0 auto;

}
.footer {
  flex-shrink: 0;
}

mat-card {
  margin-bottom: 1em;
  margin-right: 1em;
}

.card-video{
}

.btn_titulo{
  text-transform: capitalize;
}

.btn_exercicios button{
  width: 98%;
  height: 50px;
  margin-bottom: .4em ;
}


.dashboard{
  margin: 1em;
  padding: 1em;
  height: auto;
  background: rgb(66, 16, 11);
      background: linear-gradient(
        135deg,
        rgba(66, 16, 11, 1) 51%,
        rgba(0, 0, 0, 1) 91%,
        rgba(0, 0, 0, 1) 100%
      );
}


