
.wrapper{
  display: flex;
  justify-content: space-between;
}

.video-comentario {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.container{
  overflow-y: hidden;
}

.aula{
  /* background-color: white; */
  width: 60%;
  display: flex;
  justify-content: center;
  height: auto;
  overflow-y: hidden
}

.lista{
  width: 40%;
  height: auto;
  /* background-color: grey; */
}
mat-card-subtitle{
  padding-top: 1em;
}

.content {
  flex: 1 0 auto;

}
.footer {
  flex-shrink: 0;
}

.lista mat-card {
  margin-bottom: 1em;
  margin-right: 1em;
  box-shadow: 3px 3px 6px rgb(94, 93, 93);
}

button{
  background-color: rgb(136, 30, 21);
  color: white;
}

.btn_titulo{
  text-transform: capitalize;
}

.btn_exercicios button{
  width: 98%;
  height: 50px;
  margin-bottom: .4em ;
}

.btn_video{
  background-color: black;
  color: white;
}



