<div class="wrapper" *ngIf="usuarioLogado$ | async as user ">
  <section id="conteudo" class="container aula">
    <div class="card-video">
      <youtube-player
        [videoId]='videoId'
        suggestedQuality="highres"
        [height]="400"
        [width]="690"
      ></youtube-player>
      <app-comentar [cursoId]="cursoId" [aulaId]="aulaId"></app-comentar>
    </div>
  </section>
  <section class="container lista">
    <div  style="margin-left: 5px;" *ngFor="let aula of aulas | async">
      <mat-card>
        <mat-card-title>
          <button class="btn_video" mat-stroked-button (click)="updateSrc(aula.video, aula.aulaId)">
            {{aula.titulo}}
        </button>
        </mat-card-title>
        <mat-card-subtitle>
          {{aula.conteudo}}
        </mat-card-subtitle>
        <mat-card-actions>
          <button mat-stroked-button *ngIf="user.roles.includes('INSTRUTOR')" (click)="atualiza(aula.aulaId)">Atualizar</button>
          <button mat-stroked-button *ngIf="user.roles.includes('INSTRUTOR')" (click)="deleta(aula.aulaId)">Deletar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>

<app-comentarios *ngIf="aulaId" (changes)="aulaId" [cursoId]="cursoId" [aulaId]="aulaId"></app-comentarios>


